body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
  color: #333;
}

form {
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

label {
  font-size: 16px;
  color: #333;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #006400; /* Dark green */
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #004d00; /* Darker shade of dark green on hover */
}

.return-home {
  display: block;
  text-align: center;
  margin-top: 20px;
  color: #006400; /* Dark green */
  text-decoration: none;
  font-size: 16px;
}

.return-home:hover {
  text-decoration: underline;
  color: #004d00; /* Darker shade of dark green on hover */
}
